
<%= form_for(@user) do |f| %>
    <ul>
        <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <%end%>
    </ul>
    <div>
        <%= f.label :username, "Your username here: " %><br />
        <%= f.text_field :username, placeholder:"username" %>
    </div>
    <div>
        <%= f.label :email, "Your email address here: " %><br />
        <%= f.text_field :email, placeholder:"example@example.com" %>
    </div>
    <div>
        <%= f.label :password, "Your password here: " %><br />
        <%= f.password_field :password, placeholder:"password" %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>
