<!-- <form action="/users" method="POST">

    <label for="username">Username : </label>
    <input type="text" name="user[username]" id="username"/>
</p>
<p>
    <label for="email">Email : </label>
    <input type="email" name="user[email]" id="email"/>
</p>
<p>
    <label for="password">Password : </label>
    <input type="password" name="user[password]" id="password"/>
</p>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<p>
    <input type="submit" value="Save"/>
</p>
</form> -->

<%#= form_tag('/users', method: 'post') do %>

    <%#= label_tag(:username, 'Username:') %>
    <%#= text_field_tag(:username) %>

    <%#= label_tag(:email, 'Email:') %>
    <%#= text_field_tag(:email) %>

    <%#= label_tag(:password, 'Password:') %>
    <%#= password_field_tag(:password) %>

    <%#= submit_tag('Save') %>

<%# end %>

<%= form_for(@user) do |f| %>
    <ul>
        <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <%end%>
    </ul>
    <div>
        <%= f.label :username, "Enter your username here:" %><br />
        <%= f.text_field :username, placeholder:"username" %>
    </div>
    <div>
        <%= f.label :email, "Enter your email address here: " %><br />
        <%= f.text_field :email, placeholder:"example@example.com" %>
    </div>
    <div>
        <%= f.label :password, "Enter your password here: " %><br />
        <%= f.password_field :password, placeholder:"password" %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>
